In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # this is used for the plot the graph 

%matplotlib inline

import random 
random.seed(42)

In [4]:
csv_path = "training_dataset.csv"

# 1. First, let's understand our data...

In [17]:
df = pd.read_csv(csv_path) # load the pandas dataframe
df = df.rename(columns={"Unnamed: 0": "TODO_FIND_COLUMN_NAME_1", "Unnamed: 0.1": "TODO_FIND_COLUMN_NAME_2"})
df.head()

,TODO_FIND_COLUMN_NAME_1,TODO_FIND_COLUMN_NAME_2,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,...,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,date,period,recent_date,test,label
0,0,19722,2018-08-23,4,2018,13577,C0092604,Fleet,US HONG CORP,City of Industry,...,0,2,0,2,2,2018-08-23,1,2018-08-27,20180827,0
1,1,16677,2018-05-11,5,2018,7066,C0090412,Fleet,Carlos Flores,Los Angeles,...,134,186,0,186,320,2018-05-11,2,2019-09-05,20190905,0
2,2,31013,2019-03-23,6,2019,16776,C0093729,Fleet,AZIEL INC,Ontario,...,11,97,0,97,108,2019-03-23,2,2019-10-17,20191017,0
3,3,35303,2019-07-03,3,2019,11085,U0099848,Owner Operator,Expert Carriers,Long Beach,...,15,179,0,179,194,2019-07-03,1,2019-12-28,20191228,0
4,4,70021,2020-11-07,6,2020,14644,U0102863,Owner Operator,Edgar & daughters,South El Monte,...,296,0,8,8,304,2020-11-07,2,2021-02-17,20210217,0

In [18]:
df.describe()

,TODO_FIND_COLUMN_NAME_1,TODO_FIND_COLUMN_NAME_2,weekday,year,id_driver,num_trucks,days_signup_to_approval,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,period,test,label
count,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83344.000000,71128.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,8.341400e+04,83414.000000
mean,41706.500000,42205.887129,3.499149,2018.960906,18221.333098,22.588153,298.818229,2.073980,29.545844,71.541156,101.087000,148.117606,13.046407,161.164013,266.368499,1.308330,2.019781e+07,0.112751
std,24079.692014,24358.451235,1.688132,1.359378,11666.420279,48.840757,390.379696,2.661652,88.415228,194.473946,214.547898,415.015279,42.172475,412.831763,447.964420,0.461806,1.353858e+04,0.316290
min,0.000000,0.000000,1.000000,2015.000000,20.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.015103e+07,0.000000
25%,20853.250000,21121.250000,2.000000,2018.000000,7898.500000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,37.000000,1.000000,2.019072e+07,0.000000
50%,41706.500000,42211.500000,3.000000,2019.000000,16299.000000,4.000000,62.000000,1.000000,2.000000,0.000000,13.000000,15.000000,0.000000,37.000000,110.000000,1.000000,2.020083e+07,0.000000
75%,62559.750000,63289.750000,5.000000,2020.000000,28974.000000,14.000000,497.000000,2.000000,23.000000,18.000000,94.000000,112.000000,1.000000,135.000000,325.000000,2.000000,2.021021e+07,0.000000
max,83413.000000,84413.000000,7.000000,2021.000000,38125.000000,195.000000,1653.000000,129.000000,902.000000,1324.000000,1348.000000,4266.000000,371.000000,4266.000000,4266.000000,2.000000,2.021022e+07,1.000000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83414 entries, 0 to 83413
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TODO_FIND_COLUMN_NAME_1   83414 non-null  int64
 1   TODO_FIND_COLUMN_NAME_2   83414 non-null  int64
 2   dt                        83414 non-null  object
 3   weekday                   83414 non-null  int64
 4   year                      83414 non-null  int64
 5   id_driver                 83414 non-null  int64
 6   id_carrier_number         83414 non-null  object
 7   dim_carrier_type          83414 non-null  object
 8   dim_carrier_company_name  83367 non-null  object
 9   home_base_city            83370 non-null  object
 10  home_base_state           83370 non-null  object
 11  carrier_trucks            83414 non-null  object
 12  num_trucks                83344 non-null  float64
 13  interested_in_drayage     83414 non-null  object
 14  port_qualified            83414 non-null  object
 15  signup_source             83414 non-null  object
 16  ts_signup                 83414 non-null  object
 17  ts_first_approved         71128 non-null  object
 18  days_signup_to_approval   71128 non-null  float64
 19  driver_with_twic          83414 non-null  object
 20  dim_preferred_lanes       3413 non-null   object
 21  first_load_date           83414 non-null  object
 22  most_recent_load_date     83414 non-null  object
 23  load_day                  83414 non-null  object
 24  loads                     83414 non-null  int64
 25  marketplace_loads_otr     83414 non-null  int64
 26  marketplace_loads_atlas   83414 non-null  int64
 27  marketplace_loads         83414 non-null  int64
 28  brokerage_loads_otr       83414 non-null  int64
 29  brokerage_loads_atlas     83414 non-null  int64
 30  brokerage_loads           83414 non-null  int64
 31  total_loads               83414 non-null  int64
 32  date                      83414 non-null  object
 33  period                    83414 non-null  int64
 34  recent_date               83414 non-null  object
 35  test                      83414 non-null  int64
 36  label                     83414 non-null  int64
dtypes: float64(2), int64(16), object(19)
memory usage: 23.5+ MB

# 2. Convert some columns

In [28]:
df['most_recent_load_date'] = pd.to_datetime(df['most_recent_load_date'], format='%Y-%m-%d')

In [29]:
df['most_recent_load_date'].head()

0   2018-08-27
1   2019-09-05
2   2019-10-17
3   2019-12-28
4   2021-02-17
Name: most_recent_load_date, dtype: datetime64[ns]

In [40]:
loads75 = df.loads.quantile(0.75)
most_recent_load_date75 = df.most_recent_load_date.quantile(0.75)

print(loads75)
print(most_recent_load_date75)
# Manual Check
# sorted_dts = sorted(list(df.most_recent_load_date))
# quartile_estimate_index = int(len(sorted_dts)*0.75)
# print("SORTED INDEX", sorted_dts[quartile_estimate_index])

2.0
2021-02-14 00:00:00
SORTED INDEX 2021-02-14 00:00:00